img {width: 200px}

h3 { font-size: 50px; padding: 0;
margin: 0;}
h4{ font-size: 30px; padding: 0;
margin: 0;}
body{ text-align: center;
padding: 0;
margin: 0; background-repeat: no-repeat;
 background-image: url(https://images.pexels.com/photos/60013/desert-drought-dehydrated-clay-soil-60013.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500.jpg); background-size: 100%;}
.butt{ padding: 6px;
     margin: 30px;
    width: 13%;
    min-width: 150px;
    background-color: gray;
}
.butt:hover{ background-color: #3ba0ff;}

h1 {
  color: white;
  text-shadow: -1px 0 black , 0 3px #566070, 3px 0 #566070, 0 -1px black;}
h1{ /*color: rgba(86, 96, 112, 0.4);*/
	color: url(desert1.jpg);
font-size: 300px; padding: 0;
margin: 0;
}